#video-hot{
  width: 1200px;
  height: 270px;
  margin: 10px auto;
}

#video-hot .video-hot-scrollView-iconLi{
  border: 1px solid white;
}
#video-hot-scrollView{
  padding-bottom: 10px;
}
#video-hot-items{
  width:730px;
  height: 270px;
  float: right;
}

#video-hot-items .video-hot-item{
  width:172px;
  height: 125px;
  background:url("../avatar.jpg");
  background-size:100%;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}
.video-hot-item:nth-of-type(4){
  margin-right: 0;
}
.video-hot-item:nth-of-type(8){
  margin-right: 0;
}

#video-hot-items .video-hot-item:hover .video-hot-item-mask{
  opacity: 1;
}
#video-hot-items .video-hot-item .video-hot-item-mask{
  width: 172px;
  height:125px;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  left:0;
  top: 0;
  z-index: 2;
  opacity: 0;
}



#video-hot-items .video-hot-item  .video-hot-item-icon{
  width: 34px;
  height: 40px;
  font-size: 40px;
  position: absolute;
  text-align: center;
  line-height: 40px;
  margin-top: -20px;
  margin-left: -17px;
  left: 50%;
  top:50%;
  color: #F6697A;
  z-index:3;
}
#video-hot-items .video-hot-item  .video-hot-item-title{
  position: absolute;
  height: 25px;
  width: 172px;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  line-height: 25px;
  color: white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.shouldSeeVideo{
  width: 1200px;
  height: 400px;
  margin: 10px auto;
}
.shouldSeeVideo .left{
  width: 890px;
  height: 400px;
  float: left;
}
.shouldSeeVideo .left .top{
  width: 100%;
  height: 30px;
  background-color: white;
}
.shouldSeeVideo .left .top a{
  font-size: 20px;
  color: #F1678B;
  line-height: 30px;
}
.shouldSeeVideo .left .top span:nth-of-type(1){
  color: black;
  transition: all 0.5s;
}
.shouldSeeVideo .left .top span:hover{
  color: #F1678B;
}
.shouldSeeVideo .left .bottom .bottom-item{
  height: 168px;
  width: 213px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);

  border-radius: 12px;
  margin-right: 10px;
  float: left;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  background-color: white;
}

.shouldSeeVideo .left .bottom .bottom-item:nth-of-type(4){
  margin-right: 0;
}
.shouldSeeVideo .left .bottom .bottom-item:nth-of-type(8){
  margin-right: 0;
}
.shouldSeeVideo .left .bottom .bottom-item .img{
  width: 100%;
  height: 120px;
  overflow: hidden;
}
.shouldSeeVideo .left .bottom .bottom-item .img img{
  width: 100%;
  display: block;
}

.shouldSeeVideo .left .bottom .bottom-item .item-bottom p{
  line-height: 20px;
  word-break: break-all;
  overflow: hidden;
  font-size: 12px;
  color: gray;
  white-space: pre-wrap;
}
.shouldSeeVideo .left .bottom .bottom-item .item-bottom-user{
  width: 100%;
  height: 28px;
  margin-top: 2px;
  color: gray;
  position: absolute;
  bottom: 0;
  transition: transform 0.5s;
  background-color: white;
}
.shouldSeeVideo .left .bottom .bottom-item:hover .item-bottom-user{
  transform: translateY(30px);
}
.shouldSeeVideo .left .bottom .bottom-item .item-bottom-user img{
  height: 25px;
  width: 25px;
  border-radius: 50%;
  float: left;
  margin-left: 10px;
}
.shouldSeeVideo .left .bottom .bottom-item .item-bottom-user div{
  float: right;
  width: 20px;
  height: 25px;
  line-height: 25px;
  text-align: center;
}

.shouldSeeVideo .right{
  width: 300px;
  height: 400px;
  float: right;
}
.shouldSeeVideo .right .top{
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
}
.shouldSeeVideo .right .bottom{
  border: 1px solid gray;
  border-radius:10px;
  width: 278px;
  height: 320px;
  padding: 10px;
}
.shouldSeeVideo .right .bottom .bottom-item{
  width: 100%;
  height: 58px;

}
.shouldSeeVideo .right .bottom .bottom-item .img{
  width: 82px;
  height:auto;
  position: relative;
  float: left;
}
.shouldSeeVideo .right .bottom .bottom-item .img img{
  height: 58px;

}
.shouldSeeVideo .right .bottom .bottom-item .img span{
  width: 32px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;

}

.shouldSeeVideo .right .bottom .bottom-item .right{
  height: 40px;
  width: 170px;
  float: right;
}
.shouldSeeVideo .right .bottom .bottom-item .right p{
  line-height: 20px;
  word-break: break-all;
  overflow: hidden;
  font-size: 12px;
  color: gray;
  white-space: pre-wrap;
  height: 40px;
  text-overflow:ellipsis

}
.shouldSeeVideo .right .bottom .bottom-item .right div{
  width: 100px;
  height: 30px;
  float: right;
  text-align: end;
  font-size: 12px;
}